.logo{
    display: flex;
    justify-content: center;
}

.game-logo{
    width: 400px;
}

.button{
    display: flex;
    justify-content: center;
}

.game-button{
    width: 400px;
}

.canvas{
    text-align: center;
}

body{
    background-image: url("../images/game-over-final.png");
}